name: flutter_architecture_sample_monorepo
description: "Melos monorepo for Flutter architecture sample"
publish_to: 'none'

environment:
  sdk: ^3.8.1

dev_dependencies:
  melos: ^7.3.0

# CameraX와 Kotlin 2.1.0 호환성 문제로 구버전 Android 카메라 사용
dependency_overrides:
  camera_android_camerax: 0.6.17

workspace:
  - apps/mobile
  - packages/design_system
  - packages/domain
  - packages/presentation

melos:
  sdkPath: .fvm/flutter_sdk